body {
    background-color: #17191C;
    display: flex;
    padding: 4rem;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    font-size: 14px;
}

.left {
    width: 70%;
    background-color: #5F55EB;
    border-radius: 10px;
    padding: 4rem 6rem;
    background-image: url(../media/bggg.jpg);
    background-blend-mode: lighten;
    background-size: cover;
}

.nav-brand {
    display: flex;
    align-items: center;
    margin-bottom: 10rem;
}

.nav-brand img {
    margin-right: 1rem;
}

.nav-brand span {
    font-weight: 800;
    font-weight: 2rem;
}

.tagline {
    margin-bottom: 5rem;
}

.tagline p {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.wd {
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 1rem;
    background-color: #1C1E21;
    width: 15rem;
    margin-bottom: 10rem;
}

.wd img {
    padding: .5rem;
    border-radius: 50%;
    background-color: #37393C;
}

.wd span {
    margin: 0 1rem;
    font-weight: 600;
    font-size: 1.5rem;
}

.bottom-nav a {
    color: white;
    font-weight: 200;
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 3rem;
}

.right {
    width: 30%;
    background-color: #1C1E21;
    padding: 3rem 2rem;
}

.right p {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: .7rem;
}

.right span {
    margin-top: .5rem;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2rem;
    color: #9B9C9D;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.input-field {
    border: 0.01rem solid #2f3337;
    background-color: #1C1E21;
    display: flex;
    align-items: center;
    padding: 1rem .2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.input-field:hover {
    border-color: #5F55EB;
}

.input-field img {
    margin: 0 .9rem;
}

.input-field input {
    background-color: #1C1E21;
    color: white;
    border: none;
    outline: none;
    font-size: 100%;
}

.ch {
    display: flex;
    align-items: center;
}

.ch input {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.ch span {
    color: white;
    padding-left: .5rem;
}

.ch span a {
    color: #495CD3;
    text-decoration: none;
}

button {
    margin: 2rem 0;
    background-color: #5F55EB;
    color: white;
    outline: none;
    border: none;
    padding: 1.5rem 0;
    font-weight: 800;
    font-size: 1.5rem;
    border-radius: 10px;
}

p.con {
    margin-top: .5rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: #9B9C9D;
    display: flex;
    justify-content: center;
}

.socials {
    display: flex;
    justify-content: center;
}

.socials img {
    border: 1px solid #2f3337;
    border-radius: 50%;
    padding: .8rem;
    margin: 0 .5rem;
}